*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    background-image: url("../../images/background.jpg");
}

.boxSkull {
    position: relative;
    text-align: center;
    margin-top: 10%;
}

.outsideEntire {
    margin-top: inherit;
}

.realEntire {
    height: 70vh;
    background-image: linear-gradient(to right bottom, rgb(231, 227, 229), rgb(17, 0, 255));
    background-size: cover;
    position: relative;
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}

.boxSkeleton {
    display: inline-block;
    vertical-align: middle;
    margin-top: 0.5%;
}

textarea {
    width: 500px;
    height: 200px;
    margin-left: 1%;
    margin-top: 10%;
    margin-bottom: inherit;
}

.aboutText {
    font-size: 40px;
    color: white;
}

footer .wrap {
    font-size: 0.8em;
    color: white;
    text-align: center;
}
